# IDE
.idea/
*.iml

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Бинарники и сборки
*.exe
*.out
*.dll
*.so

# Базы данных (если не нужны в репе)
*.db
*.sqlite

# ОС
.DS_Store
Thumbs.db

# Go
bin/
*.test